*{
  margin: 0;
  padding: 0;
}

html{
  background-color: #fff;
  color: #555;
  font-family: "Lato","Verdena";
  font-size: 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

header{
  min-height: 100vh;
  background-image: linear-gradient(rgba(20, 20, 20, 0.69),rgba(20, 20, 20, 0.69)),url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
}

.logo{
  margin-top: 10px;
  height: 40px;
  margin-bottom: 10px;
}

.navcon{
  background-color: transparent;
}

.navitem{
  text-transform: uppercase;
  font-size: 90%;
  letter-spacing: 1px;
  transition: 0.5s;
}

.navitem:hover{
  border-bottom: 2px solid #e67e22;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #e67e22;
  font-weight: bold;
}

.header-text{
  font-family: "Lato","Verdena";
  background-color: transparent;
  color: #fff;
}

.tagline-header{
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 4px;
  font-weight: bold;
  /* margin-bottom: 30px; */
}
.tagline-header-small{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: lighter;
  margin-bottom: 40px;
}
.btn{
  background-color: transparent;
  word-spacing: 4px;
  margin-bottom: 30px;
  border: 1px solid #e67e22;
  border-radius: 30px;
  color: #e67e22;
  transition: 0.5s;
}

.btn:hover{
  color: #e67e22;
  background-color: white;
  border: 1px solid white;
}

.section1{
  min-height: 100vh;
  background-image: linear-gradient(rgba(20, 20, 20, 0.69),rgba(20, 20, 20, 0.69)),url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
}

.cardcon{
  background-color: #fff;
  min-height: 620px;
  padding: 20px;
  -webkit-box-shadow: 4px 9px 36px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 9px 36px -2px rgba(0,0,0,0.75);
  box-shadow: 4px 9px 36px -2px rgba(0,0,0,0.75);
}

.card h3{
  padding: 20px;
  text-transform: uppercase;
  font-size: 80%;
  text-align: center;
}

.card h4{
  text-align: center;
  color: #e67e22;
  padding: 20px;
  font-size: 75%;
  text-transform: uppercase;
  margin-bottom: -20px;
}

.card p {
  font-size: 70%;
}

.btn-card{
  width: 70%;
  height: 70%;
  background-color: #e67e22;
  color: white;
  margin-left: 15%;
  font-size: 70%;
}

.btn-card:hover{
    border: 1px solid #e67e22;
}

.section2{
  min-height: 90vh;
  background-color: rgb(231,231,231)
}

.ourteam{
  padding-top: 70px;
  text-align: center;
  font-size: 200%;
  color: #e67e22;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom: 30px;
}

.OTCName{
  color: #e67e22;
  font-size: 120%;
}

.OTCard{
  margin-top: 20px;
}

.OTC-p{
  font-size: 70%;
}

footer{
min-height: 10vh;
background-color: #1c1c1c;
}

.ft{
  color: white;
  font-size: 60%;
  padding: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.ft2{
  font-size: 150%;
  color: #fff;
  padding: 20px;
  margin-bottom: 0px;
}

.ft2 i{
  font-size: 100%;
  margin-right: 10px;
  color: #e67e22;
}

.rtBtn{
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
}

.rtBtn a:link,.rtBtn a:visited{
  color: #e67e22;
}

@media(max-width: 820px) {
  .navcon{
    background-color: #1c1c1c;
  }
  .header-text{
    padding: 0;
    margin: 0;
  }

  .OTCard{
    margin-top: 0px;
  }

  .ft2{
    text-align: center;
    font-size: 100%;
  }

  .ft2 i{
    font-size: 70%;
  }
}
